.card{
    border-width: 0;
}

.footerFont{
    font-size: 12px;
}

.postHeaderFontTime{
    font-size: 12px;
    color: #727272;
}

.tag_post_list {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.tag_list {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

@media screen and (max-width: 700px) {
    .tag_post_list {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .tag_list {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}